blinker==1.4
click==6.7
dnspython==1.15.0
elasticsearch==6.2.0
eventlet==0.24.1
faust==1.7.4
geoip2==2.9.0
gevent==1.3.7
gnsq==0.4.0
greenlet==0.4.15
maxminddb==1.4.0
monotonic==1.5
requests==2.22.0
ruamel.yaml==0.15.81
unrar==0.3
virtualenv==16.1.0
yara-python==3.8.1
pymongo==3.8.0
grpcio==1.20.1
protobuf==3.7.1
futures==3.1.1
ujson==1.35
psutil==5.6.7
cffi==1.13.2

Flask==1.0.2
Flask-Script==2.0.6
html5lib==1.0.1
netifaces==0.10.7
openpyxl==2.5.12
pathlib2==2.3.2
pisa==3.0.33
pycrypto==2.6.1
pykafka==2.8.0
python-crontab==2.3.5
web.py==0.40
#yara==1.7.7
Mail==2.1.0
pyzabbix==0.7.5
schedule==0.6.0
ntplib==0.3.3
uwsgi==2.0.18
XlsxWriter==1.1.8
kafka-python==1.4.6
pandas==0.24.2
python-docx==0.8.10
hanziconv==0.3.2
psutil==5.6.7
xhtml2pdf==0.2.4
IPy==1.00
confluent-kafka==1.3.0
xlrd==1.2.0
cacheout==0.11.2
